* { padding: 0; margin: 0; }

.slider-wrapper { overflow: hidden; }

.marquee-slider { display: -webkit-box; display: -ms-flexbox; display: flex; gap: 10px; -webkit-animation: slide 10s linear infinite; animation: slide 10s linear infinite; --size: clamp(10rem, 1rem + 40vmin, 30rem); --gap: calc(var(--size) / 10); --scroll-start: 0; --scroll-end: calc(-100% - var(--gap)); }
.marquee-slider .marquee-item { width: 178px; height: 200px; background-color: #000; color: #fff; line-height: 200px; text-align: center; font-size: 20px; -ms-flex-negative: 0; flex-shrink: 0; }
@-webkit-keyframes slide { from { -webkit-transform: translateX(var(--scroll-start)); transform: translateX(var(--scroll-start)); }
  to { -webkit-transform: translateX(var(--scroll-end)); transform: translateX(var(--scroll-end)); } }
@keyframes slide { from { -webkit-transform: translateX(var(--scroll-start)); transform: translateX(var(--scroll-start)); }
  to { -webkit-transform: translateX(var(--scroll-end)); transform: translateX(var(--scroll-end)); } }
